@use 'variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity $transition;

  &--primary {
    background-color: $primary-red;
    color: $white;
  }

  &--secondary {
    background-color: $light-blue;
    color: $black;
  }

  &--lg {
    width: 308px;
    height: 66px;
  }

  &--text-mobile {
    background: none;
    border: none;
    padding: 10px 0;
    width: auto;
    height: auto;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 18px;
    color: $text-blue;
  }
}