@use 'variables' as *;

.header {
  width: 100%;
  min-height: 216px;
  background: $dark-blue;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  &__logo {
    height: 50px;
  }

  &__title {
    color: $white;
    max-width: 80px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
  }

  &__nav {
    display: none;
  }
  &__nav-link {
    font-weight: bold;
  }
}